.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next  {
	font-size: 3em;
	position: absolute;
	margin: auto;

	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	height: 50px;
	width: 30px;
	opacity: 0;
	transition: 0.3s;

	color:#F2C3A8;
	outline: none;
}
.owl-carousel:focus .owl-nav button.owl-prev:focus,
.owl-carousel:focus .owl-nav button.owl-next:focus {
	outline: none;
}
.owl-carousel:hover .owl-nav button.owl-prev,
.owl-carousel:hover .owl-nav button.owl-next {
	opacity: 1;
}
.owl-carousel .owl-nav button.owl-prev{
	margin-left: 0px;
}
.owl-carousel .owl-nav button.owl-next {
	margin-right: 0px;
}
.owl-carousel:hover .owl-nav button.owl-prev{
	margin-left: 15px;
}
.owl-carousel:hover .owl-nav button.owl-next{
	margin-right: 15px;
}

.owl-carousel .owl-nav button.owl-prev span,
.owl-carousel .owl-nav button.owl-next span {
	font-size: 70px;
	line-height: 46px;
}
.owl-carousel .owl-dots {
	text-align: center;
	margin-top: 5px;
}
.owl-carousel .owl-dots button {
	width: 15px;
	height: 15px;

	margin: 5px;
	display: inline-block;
	border-radius: 20px;

	box-shadow: 0 0 0 2px #F2C3A8;
	transition: 0.3s;

	outline: none;
}
.owl-carousel .owl-dots button:focus {
	outline: none;
}
.owl-carousel .owl-dots button.active {
	background:#F2C3A8;
}
.owl-carousel .owl-dots button.active:hover {
	background: #F2C3A8;
}
.owl-carousel .owl-dots button:hover {
	background: #F2C3A855;
}