@font-face {
	font-family: Alternates;
	src: url(Шрифтове/MontserratAlternates-Regular.ttf);
}
body {
	margin: 0;
	background: #40997E;
}
div.shelter {
	max-width: 1220px;
	margin: 0 auto;
}
img.logo {
	margin-left: 40px;
	height: 75px;
	width: 200px;
	margin-top: 10px;
}
div.nav {
	background-image: linear-gradient(#F2C3A8,transparent);
	padding-right: 10px;
	padding-left: 10px;
	height: 200px;
	width: 100%;
	top: 0;
	position: fixed;
	z-index: 10;
}
ul.nav {
	float: right;
	margin-right: 50px;
	margin-top: 31px;
}
ul.nav li {
	float: left;
	list-style-type: none;
	margin-left: 40px;
}
ul.nav li a {
	text-decoration: none;
	color: #FFFCFA;
	font-family: Alternates;
	font-size: 20px;
	font-weight: bold;
	padding: 12px;
	border-radius: 15px;
	transition: 0.5s;
}
ul.nav li:first-child a {
	background: #40997E;
	padding: 12px;
	border-radius: 15px;
	transition: 0.5s;
}
ul.nav li a:hover {
	background: #257A5F;
	transition: 0.5s;
}
div.nav:after {
	content: "";
	display: block;
	clear: both;
}
div.container {
	margin: 0 auto;
	width: 1122px;
}
div.shell {
	position: absolute;
	top: 150px;
	margin: 0 auto;
	max-width: 1130px;
}
h1.Lname {
	font-size: 30px;
	font-family: Alternates;
	color: #fff;
}
.slider {
	height: 465px;
	width: 100%;
	background-size: cover;
	position: relative;
}
.slider.bg_1 {
	background: url("Снимки/Ovech1.jpg") no-repeat center center;
}
.slider.bg_2 {
	background: url("Снимки/ovech.jpg") no-repeat center center;
}
.slider.bg_3 {
	background: url("Снимки/ovech2.jpg") no-repeat center center;
}
.slider.bg_4 {
	background: url("Снимки/ovech3.jpg") no-repeat center center;
}
.slider.bg_5 {
	background: url("Снимки/ovech5.jpg") no-repeat center center;
}
.slider.bg_6 {
	background: url("Снимки/PK.jpg") no-repeat center center;
}
.slider.bg_7 {
	background: url("Снимки/ovech.jpg") no-repeat center center;
}
.slider.bg_8 {
	background: url("Снимки/ovech2.jpg") no-repeat center center;
}
.slider.bg_9 {
	background: url("Снимки/ovech3.jpg") no-repeat center center;
}
.slider.bg_10 {
	background: url("Снимки/ovech5.jpg") no-repeat center center;
}

.slider .content {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 100px;
	background-color: #F2C3A8;
	width: 100%;

	opacity: 0.7;
	margin: 15px 20px;
}
.slider .content h3 {
	font-family: "tinos";
	font-size: 20px;
	color:#fff; 
	margin-bottom: 14px;
	line-height: 14px;
}
.slider .content p {
	font-family: "tinos";
	color:#fff;
	font-size: 13px;
	word-spacing: 4px;
}
div.container div.shell:nth-child(2) {
	margin-top: 600px;
}
div.container div.shell:nth-child(3) {
	margin-top: 1200px;
}
div.container div.shell:nth-child(4) {
	margin-top: 1800px;
}
div.container div.shell:nth-child(5) {
	margin-top: 2400px;
}
footer {
	width: 100%;
	background-color: #F2C3A8;
	color: #fff;
	position: absolute;
	bottom: -2300px;
	text-align: center;
}
div.footer p{
	font-family: Alternates;
	font-size: 15px;
	padding-left: 10px;
}